# Add any directories, files, or patterns you don't want to be tracked by version control


SpecifyToolboxesDirectory.m

# ignore external toolbox directory
external/
STI_Suite/
FANSI_toolbox/
MEDI_toolbox/
addons/bfr/sandbox
addons/qsm/sandbox

*.asv

# testing QSMnet
addons/qsm/QSMnet
addons/qsm/xQSM
addons/bfr/BFRnet
